[submodule "Imports/AvaloniaUI/AvaloniaEdit"]
	path = Imports/AvaloniaUI/AvaloniaEdit
	url = https://github.com/AvaloniaUI/AvaloniaEdit
	ignore = dirty
[submodule "Imports/AvaloniaUI/Avalonia.DataGrid"]
	path = Imports/AvaloniaUI/Avalonia.DataGrid
	url = https://github.com/AvaloniaUI/DataGrid.git
	ignore = dirty
[submodule "Imports/AvaloniaUI/OxyPlot.Avalonia"]
	path = Imports/AvaloniaUI/OxyPlot.Avalonia
	url = https://github.com/AvaloniaUI/oxyplot-avalonia.git
	ignore = dirty
