[submodule "Imports/AvaloniaUI/AvaloniaEdit"]
	path = Imports/AvaloniaUI/AvaloniaEdit
	url = https://github.com/AvaloniaUI/AvaloniaEdit
[submodule "Imports/AvaloniaUI/OxyPlot.Avalonia"]
	path = Imports/AvaloniaUI/OxyPlot.Avalonia
	url = https://github.com/garyhertel/oxyplot-avalonia.git
